body {
  margin: 70px 70px 50px 80px;
}


.first {
  background-color: gray;
  height: 150px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 2%;
}

.second {
  background-color: gray;
  height: 350px;
  width: 60%;
  border: 1px solid black;
  float: left;
}

.third {
  background-color: gray;
  height: 350px;
  width: 37%;
  border: 1px solid black;
  float: right;
  margin-bottom: 2%;
}

.forth {
  background-color: gray;
  height: 150px;
  width: 100%;
  border: 1px solid black;
  clear: both;
}

h2 {
  padding-bottom: 17px;
}
